.home-page {
  padding: 24px;
  color: $black;
}

.service-list {
  min-height: 384px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  .title {
    background-color: $grey;
    border-radius: 3px 3px 0px 0px;
  }

  .list-item {
    display: flex;
    align-items: center;
    height: 32px;
  }

  p {
    padding-left: 16px;
  }
}
