html,
body {
  font-family: $fontFamily, sans-serif;
  font-weight: 500;
  color: $black-light;
  font-size: $medium;
}

// Header Styles
h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
}

h1 {
  font-size: $headingSize;
  @extend .lh-22;
}

p {
  margin: 0;
}

.small {
  font-size: $small;
}

.medium {
  font-size: $medium;
}

.large {
  font-size: $large;
}

.lh-16 {
  line-height: 16px;
}

.lh-18 {
  line-height: 18px;
}

.lh-20 {
  line-height: 20px;
}

.lh-22 {
  line-height: 22px;
}

.error-text {
  color: $red;
  font-size: 10px;
  line-height: 15px;
}
