// Fonts
$fontFamily: "Raleway";

// Font Sizing
$small: 12px;
$medium: 14px;
$large: 16px;
$headingSize: 18px;

// Colors
$black: #000000;
$black-light: #111321;
$green: #2cb34f;
$white: #ffffff;
$grey: #f8f8f8;
$border-color: #c5c6cd;
$text-lighter: #9c9da9;
$border-radius: 3px;
