.button {
  font-family: $fontFamily;
  font-weight: 700;
  background-color: $green;
  color: $white;
  border: none;
  outline: none;
  border-radius: $border-radius;
  text-align: center;
  padding: 13px 0;
}
