input[type="radio"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  display: inline-block;
  width: 16px;
  height: 16px;
  background-clip: content-box;
  border: 1px solid $radio-border;
  background-color: $white;
  border-radius: 50%;
  outline: none;

  &:checked {
    padding: 3px;
    outline: none;
    background-color: $green;
  }
}
